{% extends 'base.html' %}

{% block title %}{{super()}} - LogIn{% endblock %}

{% block content %}
<div class="bg-dark d-flex justify-content-center py-4 px-2 m-0">
    <h3 class="text-white text-center">
        Log In
    </h3>
</div>
<div class="container">
    <div class="mx-auto">
        <div class="d-flex justify-content-center pt-5 px-2 fw-semibold">
            <p>
                Log In to your account to add a Café!
            </p>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="d-flex justify-content-center pt-1 flash-message">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="d-flex justify-content-center pt-2 ">
            <form method="POST">
                {{ form.csrf_token }}
                
                <div class="row mb-3">
                    {{ form.username.label(class_='col-form-label') }}
                    <div class="col-12">
                        {{ form.username }} 
                    </div>
                    {% for error in form.username.errors %}
                    <div class="invalid-feedback-form">
                        {{ error }}
                    </div>
                    {% endfor %}
                </div>
                <div class="row mb-3">
                    {{ form.password.label(class_='col-form-label') }}
                    <div class="col-12">
                        {{ form.password }} 
                    </div>
                    {% for error in form.password.errors %}
                    <div class="invalid-feedback-form">
                        {{ error }}
                    </div>
                    {% endfor %}
                </div>

                {{form.submit}}
                <!-- <button type="submit" class="btn btn-primary">Sign in</button> -->
            </form>
        </div>
        <div class="d-flex justify-content-center pt-4 px-2">
            <a href="{{ url_for('register')}}" class="text-decoration-none fw-semibold">
                Create new account? 
            </a>
        </div>
    </div>
</div>
{% endblock %}