{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
<div class="container-fluid text-center">
    <h1>About</h1>
    <p class="px-5 mx-5">
        The Image Color Palette Generator is a website that will extract the most common colors out of the given image file.
        The colors will be displayed in hexadecimal values to make it easy for you to copy them and use them in your project.
        You can try it out; first, you have to upload a file or use the sample image provided.
    </p>
</div>
{% endblock %}