<!-- Footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0"></div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">CONNECT</h4>
                <a class="btn btn-outline-light btn-social mx-1" href={{ social_media_link.linkedin }}><i class="fab fa-fw fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href={{ social_media_link.github }}><i class="fab fa-fw fa-github"></i></a>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright &copy; Arturo's Portfolio Website {{ current_year }}</small></div>
</div>