<!-- Portfolio Modals-->
<!-- Portfolio Modal 1-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Morse Code Converter</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="{{ url_for('static', filename='assets/img/portfolio/01_Morse_Code_Converter_picture_full.png') }}" alt="01_Morse_Code_Converter_picture_full" />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">
                                This is a Python scrypting project - a text-based Morse converter. 
                                Morse code is a way of encoding text characters as standardized sequences of two different 
                                signal durations, called dots and dashes, and named after Samuel Morse, one of the inventors of the 
                                telegraph. This programme was developed based on the OOP (object-oriented programming) methodology. 
                            </p>
                            <button class="btn btn-primary" onClick="location.href='https://github.com/artursniegowski/Mastering_Python_through_Projects/tree/master/01_Morse_Code_Converter'">
                                <i class="fas fa-regular fa-folder-open"></i>
                                Open Project
                            </button>
                            <button class="btn btn-danger" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 2-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="portfolioModal2" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Blog website - Flask - Heroku ready</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="{{ url_for('static', filename='assets/img/portfolio/02_Blog_website_Flask_Hero_read_full.png') }}" alt="02_Blog_website_Flask_Hero_read_full" />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4"> 
                                
                                Deployed on Heroku: https://arturos-blog.herokuapp.com/<br>

                                This is a fully-fledged blog website that is ready to be published and launched 
                                on Heroku (https://www.heroku.com/). The blog was developed using the Python framework Flask.
                                The styling was done with the help of additional Bootstrap templates (https://startbootstrap.com/previews/clean-blog), 
                                Flask-Bootstrap, Bootstrap, and CSS. Some extra functionality like registering and authenticating users was added, as well as the ability for authenticated users to comment on blog posts.
                                <br>
                                The main features are:
                                <br>

                                RESTful Blog: with the blog you will be able to create new posts, edit and delete existing posts from the database (Flask HTTP requests and forms WTF). Only the admin user (id = 1), 
                                the first user to register on the blog, will have these rights.<br>
                                Authentication-users for the website and giving different permissions. There will be 3 groups that are distinguished: admin, logged users, and anonymous users (not logged in).<br>
                                all the posts will be stored in a SQLite database and managed with Flask-SQLAlchemy.<br>
                                use of Gravatar images to provide an avatar image for blog commenters.<br>
                                Making use of Relational Databases (one-to-many relationship).<br>
                                Message Flashing using Flask Flash to give feedback to the user. They will be visible only for one session.<br>
                                CKEditorField-The CK Editor field renders the CK editor control that allows users to visually work with HTML and save the results back into a text property.<br>
                                blog post pages with full-screen titles that are generated dynamically.<br>
                                multi-page website with an interactive navigation bar.<br>
                                fully mobile responsive with an adaptive navigation bar.<br>
                                a fully functional contact form (POST request-Flask) that will send an email form to the specified email receiver.<br>
                                customised error handling-403-page Forbidden.<br>
                                customised error handling-404-page not found.<br>
                                Database - PostgreSQL.<br>
                            </p>
                            <button class="btn btn-primary" onClick="location.href='https://github.com/artursniegowski/Blog_website_Flask_ready_for_Heroku'">
                                <i class="fas fa-regular fa-folder-open"></i>
                                Open Project
                            </button>
                            <button class="btn btn-danger" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 3-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" aria-labelledby="portfolioModal3" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Moviebrowser app - React</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="{{ url_for('static', filename='assets/img/portfolio/03_Moviebrowser_app_React_full.png') }}" alt="03_Moviebrowser_app_React_full" />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">
                                It is a movie browser website that's API driven. There's a dynamic search function, 
                                movie detail view, about page, all built into a single page application / progressive web application. 
                                The concept of function based components was used for the development of this web-app. You can type in 
                                the search box the movie you are interested in, and it will update automatically the results. The data is 
                                fetched from the API themoviedb. It was developed using React.js, JavaScript, Bootstrap 5, CSS, HTML.
                            </p>
                            <button class="btn btn-primary" onClick="location.href='https://github.com/artursniegowski/MovieBrowser-APP'">
                                <i class="fas fa-regular fa-folder-open"></i>
                                Open Project
                            </button>
                            <button class="btn btn-danger" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 4-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" aria-labelledby="portfolioModal4" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Posts Website - Django</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="{{ url_for('static', filename='assets/img/portfolio/04_Posts_web_Django_full.png') }}" alt="04_Posts_web_Django_full" />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">
                                This is a responsive website that works like a blog where users can create accounts in order to post on the website, 
                                or if they are not signed in, they are limited to only viewing them. The authentication of users is implemented with the use of django-allauth. 
                                The main page has a list of posts sorted in chronological order (starting from the most recent) 
                                and a left panel including all the possible options the current user has.<br>
                                Signed-in users will have the option to:<br>
                                Home - redirecting to main page.<br>
                                New Post - posting, a new post.<br>
                                Profile - redirecting to the profile view, where the user can change his/her username, email, first and last name, update the picture for the profile, and change the password.<br>
                                Logout  - the user will be logged out.<br>
                                
                                whereas users who are signed out will have the option to:<br>
                                
                                Home - redirecting to the main page<br>
                                Login - redirecting to the login page where the user can either log in, create an account or reset the password (with an email token).<br>
                                <br>
                                Database - SQLite.
                                <br>
                                Check out the project for more details.

                            </p>
                            <button class="btn btn-primary" onClick="location.href='https://github.com/artursniegowski/Django_Posts_website'">
                                <i class="fas fa-regular fa-folder-open"></i>
                                Open Project
                            </button>
                            <button class="btn btn-danger" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 5-->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" aria-labelledby="portfolioModal5" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Financial Blog - Wagtail - CMS</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="{{ url_for('static', filename='assets/img/portfolio/05_Financial_Blog_Wagtail_CMS_full.png') }}" alt="05_Financial_Blog_Wagtail_CMS_full" />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">
                                This is a responsive website that represents a financial blog where the owner can easily manage the content with the wagtail 
                                framework. Wagtail is an open source CMS written in Python and built on the Django framework. It offers a fast and attractive 
                                interface for editors where content can be created and structured intuitively. The websites consist of a homepage where the 
                                user can enter the blog. On the main page of the blog, the user has an overview of all the posts listed chronologically. 
                                Each post also has a detailed view where the whole content is shown with additional information like categories, tags, author, 
                                date posted, main content of the post, and gallery. For every post, the user can add tags and customise categories. The user 
                                also has the option of choosing a specific tag and displaying all the posts on the blog related to that specific tag. Categories and 
                                profiles need to be edited or created before they can be connected to a specific post or article. On the settings site there is also 
                                configuration prepared for linking the blog website with other social media websites. Currently active are Facebook, Twitter, and Instagram, 
                                but this can be easily added with the use of the added app_site_settings where all the social media links are configured. The focus of this 
                                website is on the content management of a financial blog, which can be easily edited from the admin site provided by Wagtail.
                                <br>
                                Check out the project for more details.
                            </p>
                            <button class="btn btn-primary" onClick="location.href='https://github.com/artursniegowski/Financial_Blog_Wagtail_CMS'">
                                <i class="fas fa-regular fa-folder-open"></i>
                                Open Project
                            </button>
                            <button class="btn btn-danger" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 6-->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" aria-labelledby="portfolioModal6" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Alien Invasion - Pygame</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="{{ url_for('static', filename='assets/img/portfolio/06_Alien_Invasion_full.png') }}" alt="06_Alien_Invasion_full" />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">
                                Alien Invasion is a 2D video game in which the player fights aliens that are dropping.
                                Game was developed using Python 3.10.4 , Pygame package.
                            </p>
                            <button class="btn btn-primary" onClick="location.href='https://github.com/artursniegowski/Alien_Invasion'">
                                <i class="fas fa-regular fa-folder-open"></i>
                                Open Project
                            </button>
                            <button class="btn btn-danger" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 7-->
<div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" aria-labelledby="portfolioModal7" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Automated Spotify playlist generator - Python</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="{{ url_for('static', filename='assets/img/portfolio/07_Spotify_playlist_generator_full.png') }}" alt="07_Spotify_playlist_generator_full" />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">
                                This program validates the given date by the user with regular expression operations and later uses Python's 
                                BeautifulSoup library for scraping data from a music website ( https://www.billboard.com/charts/hot-100/ ) for that date,
                                 in order to find a list of top 100 songs. Based on the scraped data, it will automatically create a Spotify playlist using 
                                 the spotipy library (Spotify API) https://spotipy.readthedocs.io/en/master/.
                            </p>
                            <button class="btn btn-primary" onClick="location.href='https://github.com/artursniegowski/FUN_PYTHON_PROJECTS/tree/master/Spotify_playlist_generator'">
                                <i class="fas fa-regular fa-folder-open"></i>
                                Open Project
                            </button>
                            <button class="btn btn-danger" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 8-->
<div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" aria-labelledby="portfolioModal8" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">RESTful API - CAFE-Info - Flask</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="{{ url_for('static', filename='assets/img/portfolio/08_RESTful_API_CAFE_Info_full.png') }}" alt="08_RESTful_API_CAFE_Info_full" />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">
                                This is a RESTful API created with Python / Flask / SQLite / SQLAlchemy. It has a home page with a 
                                link to the documentation for the API created with the help of Postman (https://www.postman.com/). 
                                This RESTful API uses the data from its cafe database to respond to the users' requests. The database consists of a 
                                list of cafes and some information about them to help the user to decide whether a particular cafe is a suitable 
                                place to work in. The user can make different HTTP requests like:<br>
                                -GET (the user can request data for all the cafes, a random cafe, or a cafe by location),<br>
                                -POST (the user can add a new cafe to the database),<br>
                                -PATCH (the user can update the price of coffee for a given cafe),<br>
                                -DELETE (the user can delete a given cafe from the database, but only with a valid api_key).<br>

                                In the documentation you can find how to make all the requests with the necessary key words.<br>
                                <br>
                                Check out the project for more details.
                            </p>
                            <button class="btn btn-primary" onClick="location.href='https://github.com/artursniegowski/Python_Flask_Projects/tree/master/09_RESTful_API_CAFE_WIFI'">
                                <i class="fas fa-regular fa-folder-open"></i>
                                Open Project
                            </button>
                            <button class="btn btn-danger" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Modal 9-->
<div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" aria-labelledby="portfolioModal9" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Portfolio Website - Flask - Heroku ready</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="{{ url_for('static', filename='assets/img/portfolio/09_portfolio_website_full.png') }}" alt="09_portfolio_website_full" />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">
                                This is a one-page Portfolio Website, a unique way to showcase my work and let others know about myself. 
                                It is ready to be published and launched on Heroku (https://www.heroku.com/). This way, it can be easily 
                                shared via a link with anyone who is interested in my work. The Portfolio Website was developed using the 
                                Python framework Flask, CSS, HTML, and Java Script with AJAX (fetch). The styling was done with the help of 
                                additional Bootstrap templates (https://startbootstrap.com/theme/freelancer), Bootstrap, and CSS. 
                                Additionally, the website is fully mobile responsive with an adaptive navigation bar, and it has a 
                                functional, dynamic contact form, which means that after submitting it, it won't reload the entire page. 
                                This functionality is achieved by sending a Java Script AJAX request (fetch) to the Flask server in order 
                                to send the data from the form and later validate it on the server side. If successful, the server 
                                will send an email that will consist of the data from the contact form. The server will return json data 
                                to the website whether or not the process was successful, which will be rendered with JS as a short message 
                                below the contact form. In modern browsers, there is no need to use "AJAX" methods like XMLHttpRequest() 
                                or jQuery; the modern, built-in JavaScript solution to make these requests from a page is with the use of fetch. 
                                All projects listed on the website have a detailed view in a modal that will appear after selecting one of the projects.<br>
                                <br>
                                Check out the project for more details.
                            </p>
                            <button class="btn btn-primary" onClick="location.href='https://github.com/artursniegowski/Portfolio_Website_Flask_ready_for_Heroku'">
                                <i class="fas fa-regular fa-folder-open"></i>
                                Open Project
                            </button>
                            <button class="btn btn-danger" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>